//Builds towers for all 5 worlds!
function start() {
    buildTower();
    backDown();
    if(frontIsBlocked()){
        turnAround();
        turnAround();
    }
    if(frontIsClear()){
        move();
        move();
        buildTower();
        backDown();
    }
    if(frontIsBlocked()){
        turnAround();
        turnAround();
    }
    if(frontIsClear()){
        move();
    }  
    if(frontIsBlocked()){
        turnAround();
        turnAround();
    }
    if(frontIsClear()){
        move();
        buildTower();
        backDown();
    }
    if(frontIsBlocked()){
        turnAround();
        turnAround();
    }
    if(frontIsClear()){
        move();
        move();
        buildTower();
        backDown();
        move();
    }
    

}

function buildTower(){
    putBall();
    turnLeft();
    move();
    putBall();
    move();
    putBall();
    turnRight();
}

function backDown(){
    turnRight();
    move();
    move();
    turnLeft();
}
